.poem-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  padding: 10rem;

  .card {
    width: 100%;
    max-width: 750px;
    text-align: center;
    overflow: auto;
  }
  .card-media {
    height: 500px;
    background-position: center;
    background-size: contain;
  }
}
